@import "tailwindcss";

@keyframes float-random {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(
      calc(var(--float-x) * 1%),
      calc(var(--float-y) * 1%)
    );
  }
  100% {
    transform: translate(0, 0);
  }
}

.animate-float-random {
  animation: float-random var(--float-duration) ease-in-out infinite;
  animation-delay: var(--float-delay);
}
